<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RaddishWallet.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>7</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E3FA9A4C0CAF8E5FBB4CC50F0AEE85012CCCABF4</string>
				<key>dateExpires</key>
				<string>2/1/23</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E3FA9A4C0CAF8E5FBB4CC50F0AEE85012CCCABF4</string>
						<key>dateExpires</key>
						<string>2/1/23</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OpenSSL.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9J7RQJR4ZS</string>
						<key>name</key>
						<string>Prisym, LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.180</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9J7RQJR4ZS.io.raddish.RaddishIOWallet</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9J7RQJR4ZS</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>RaddishWallet.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ab8696fc-0358-49be-8582-ba70dd8200f1</string>
				<key>dateExpires</key>
				<string>2/1/23</string>
				<key>name</key>
				<string>A2</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9J7RQJR4ZS</string>
				<key>name</key>
				<string>Prisym, LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
